body {text-align: center;}
h1  {
  color: orange;
  font-size: 55px;
  text-decoration: underline;
  background:#D8D8D8;
  text-align: left;
}

h2 {
  font-size: 40px;
  color: blue;
}

.hinmei {
  font-size: 20px;
  
}
